.App {
  align-items: center;
  background-image: url(./background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
}

.AppTitle {
  font-size: 72px;
}